{% if last_recipient %}
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Street Name</th>
		<th>Street Nr</th>
		<th>City</th>
		<th>ZIP code</th>
		<th>Country</th>
	</tr>
	{% for recipient in last_recipient %}
	<tr>
		<td>{{ recipient.id }}</td>
		<td>{{ recipient.recipient_name }}</td>
		<td>{{ recipient.recipient_street_text }}</td>
		<td>{{ recipient.recipient_street_nr }}</td>
		<td>{{ recipient.recipient_city_text }}</td>
		<td>{{ recipient.recipient_city_zip }}</td>
		<td>{{ recipient.recipient_country_text }}</td>
	</tr>
	{% endfor %}	
</table>
{% else %}
<p> No recipient data available. </p>
{% endif %}